---

let link = Astro.props.link;
let offset = Astro.props.offset;

let path = Astro.props.path;
let svgWidth = Astro.props.svgWidth;
let svgHeight = Astro.props.svgHeight;
let viewbox = Astro.props.viewbox;

let invertido = Astro.props.invertido;
---
					
<a href={link} class="socialLink fadeInSocialLinks fadeInRightSocialLink" style=`--offset:${offset};`>
	<svg class=`circle ${invertido ? 'circleInvertido SVGInvertido' : 'circleNoInvertido SVGNoInvertido'}` xmlns="http://www.w3.org/2000/svg" width={svgWidth} height={svgHeight} viewBox={viewbox}>
		<path d={path}/>
	</svg>

</a>

<style>
  	.socialLink:nth-child(3) {
		bottom: -18%;
        left:50%;
        transform: translateX(-50%);
    	}

	.socialLink:nth-child(2) {
		bottom: -3%;
		left: 0;
	}
	.socialLink:nth-child(4) {
		bottom:-3%;
		right: 0;
	}
    .circle {
		width: 55px;
		height: 55px;
		border-radius: 50%;
	}
	.circle:hover{
		transition: 0.3s;
		transform: scale(1.1);
	}
	.circleNoInvertido{
		background-color: var(--color-surface-400);
		border: 2px solid var(--color-surface-400);
	}
	.circleNoInvertido:hover{
		background-color: var(--color-primary-600);
	}
	.SVGNoInvertido{
		fill: var(--color-surface-200);
	}
	.circleInvertido{
		background-color: var(--color-surface-200);
		border: 2px solid var(--color-surface-400);
	}
	.SVGInvertido{
		fill: var(--color-surface-400);
	}
	.SVGInvertido:hover{
		fill: var(--color-primary-600);
	}
	
	.socialLink{
		z-index:10;
		position:absolute;
		max-width:55px;
		max-height:55px;
	}
	.socialLink img{
		box-sizing: border-box;
		border:none;
	}
	.fadeInSocialLinks{
		opacity:0;
		animation: fadeInBlur 1s ease;
		animation-fill-mode: forwards;
        animation-delay: calc(0.5s + 0.1s * var(--offset));
	}
	@keyframes fadeInBlur{
		from{
			opacity: 0;
			filter:blur(2px);
		}
		to{
			opacity: 1;
			filter:blur(0px);
		}
	}
</style>